# Delta2

.vs/
.vscode/
particles/
x64/

CppProperties.json

Debug/

Release/

particles.vcxproj

particles.db3

particles.sln

particles.vcxproj.filters

particles.vcxproj.user

*.d
*.o
*.o.release
particles
*.swo
*.vtk
export/
*.optrpt
*.out
*.err
*.tmp

build/*
old/
scratch/


sympy/.idea/

sympy/__pycache__/

USD_IO/.idea/

VTuneFromHamilton/

new x64/particles.tlog/

new x64/particles.log

.idea/

AdvisorFromHamilton/

bf_results/variable_s1_bf/
.env

src/strategies/broad_phase/num_threads.h
src/embree_common/*/CMakeFiles/
src/embree_common/CMakeFiles/
src/embree_common/*/Makefile
*.cmake
*/CMakeCache.txt
CMakeCache.txt
src/embree_common/Makefile
